/*
Syntax error: Undefined mixin 'text'.
        on line 8 of /home/bobanj/dev/staticmatic_template/./src/stylesheets/text.scss, in `text'
        from line 8 of /home/bobanj/dev/staticmatic_template/./src/stylesheets/text.scss

Backtrace:
/home/bobanj/dev/staticmatic_template/./src/stylesheets/text.scss:8:in `text'
/home/bobanj/dev/staticmatic_template/./src/stylesheets/text.scss:8
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/engine.rb:197:in `_render'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/engine.rb:169:in `block in render'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/engine.rb:169:in `render'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/compiler.rb:103:in `block in compile'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/logger.rb:43:in `red'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/compiler.rb:102:in `compile'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/compiler.rb:93:in `compile_if_required'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/compiler.rb:84:in `block in run'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `each'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `run'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:92:in `recompile'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `call'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:34:in `update'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/inotify.rb:12:in `block in add_handler'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/notifier.rb:191:in `call'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/notifier.rb:191:in `block in watch'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/watcher.rb:41:in `[]'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/watcher.rb:41:in `callback!'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/event.rb:128:in `callback!'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/notifier.rb:220:in `block in process'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/notifier.rb:220:in `each'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/notifier.rb:220:in `process'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/rb-inotify-0.8.4/lib/rb-inotify/notifier.rb:203:in `run'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/inotify.rb:20:in `run'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/vendor/fssm/lib/fssm.rb:17:in `monitor'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:61:in `perform'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/commands/base.rb:18:in `execute'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/commands/project_base.rb:19:in `execute'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/bin/compass:26:in `<top (required)>'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/bin/compass:19:in `load'
/home/bobanj/.rvm/gems/ruby-1.9.2-p136/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'text'.\A         on line 8 of /home/bobanj/dev/staticmatic_template/./src/stylesheets/text.scss, in `text'\A         from line 8 of /home/bobanj/dev/staticmatic_template/./src/stylesheets/text.scss"; }
